{% render 'partials/head.liquid' %}

<form method="GET" action="/">
    <label>
      Zoek op naam
      <input type="text" name="name" placeholder="Typ een naam..."/>
    </label>

    <button type="submit">Zoeken</button>

    <a href="/" class="reset-link">Reset</a>
</form>

<section class="sorteer opties">
  <p>sorteren op:</p>
  <a href="/?sort=az&squad={{ request.query.squad }}">A-Z</a>
  <a href="/?sort=za&squad={{ request.query.squad }}">Z-A</a>

  <p>je hebt nu gesorteerd op: <strong> {{ sortInfo }} </strong></p>
</section>

<section class="filter opties">
  <p>filteren op:</p>
  <a href="/?squad=1I&sort={{ request.query.sort }}">1I</a>
  <a href="/?squad=1J&sort={{ request.query.sort }}">1J</a>

  <p>je hebt nu gefilterd op: <strong> {{ squadInfo }} </strong></p>
</section>


<section class="overview">
  <ul>
    {% for person in persons %}
      <li class="card" data-color="{{ person.fav_color }}">
        <details>
          
          <!--Voorkant van het kaartje-->
          <summary>
            <figure class="card-visual">

              {% if person.mugshot %}
              <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profile picture">
              {% else %}
              <img src="/missing-avatar.png" alt="No profile picture">
              {% endif %}

              <span class="emoji-container">{{  person.fav_emoji }}</span>
            </figure>

            <div class="card-text">
              <a href="/student/{{ person.id }}">{{ person.name }}</a>
              <p>{{  person.role }}</p>
            </div>
          </summary>

          <!--Achterkant van het kaartje-->
          <div class="card-back">
            <p>naam: {{  person.name }}</p>
            <p>
              {% assign birthyear = person.birthdate | date: "%Y" | plus: 0 %}
              {% assign currentyear = "now" | date: "%Y" | plus: 0 %}
              {% assign age = currentyear | minus: birthyear %}
              {{ age }} jaar
            </p>
            <p>{{  person.bio }}</p>
          </div>
        </details>
        
      </li>
    {% endfor %}
  </ul>
</section>


{% render 'partials/foot.liquid', squads: squads %}