{% render 'partials/head.liquid' %}
<main>
  <h1>{{ title }}</h1>
  <!--
  <form method="GET" action="/">
    <label>
      Zoek op naam
      <input type="text" name="name" placeholder="Typ een naam..."/>
    </label>

    <button type="submit">Zoeken</button>

    <a href="/" class="reset-link">Reset</a>
  </form>
  -->
  
  <!--
    <section class="sorteer">
      <details>
          <summary>Sorteren op:</summary>
          <ul>
              <li>
                  <a href="/?sort=az&squad={{ request.query.squad }}">A-Z</a>
              </li>
              <li>
                  <a href="/?sort=za&squad={{ request.query.squad }}">Z-A</a>
              </li>
          </ul>
      </details>
  </section>
  -->

<section class="sorteer">
    <h2>sorteren op:</h2>
    <a href="/?sort=az&squad={{ request.query.squad }}">A-Z</a>
    <a href="/?sort=za&squad={{ request.query.squad }}">Z-A</a>

    <p>je hebt nu gesorteerd op: <strong> {{ sortInfo }} </strong></p>

  </section>
  

  <section class="filter">
    <h2>filteren op:</h2>
    <a href="/?squad=1I&sort={{ request.query.sort }}">1I</a>
    <a href="/?squad=1J&sort={{ request.query.sort }}">1J</a>

    <p>je hebt nu gefilterd op: <strong> {{ squadInfo }} </strong></p>
  </section>

   
    <ul>
      {% for person in persons %}
        {% capture theme_class %}theme-{{ forloop.index0 | modulo: 5 | plus: 1 }}{% endcapture %}
          <li class="card {{ theme_class }}">
            <details>
              
              <!--Voorkant van het kaartje-->
              <summary>

                <h2>
                  <a href="/student/{{ person.id }}">
                    <!--https://learn.microsoft.com/nl-nl/power-pages/configure/liquid/liquid-filters?utm_source=chatgpt.com#split-->
                    {% assign words = person.name | split: ' ' %}
                    {% assign rest = words | slice: 1, words.size | join: ' ' %}
                    {{ words.first }}
                    <br>
                    {{ rest }}
                  </a>
                </h2>

                <figure class="card-visual">
                  {% if person.mugshot %}
                  <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profile picture">
                  {% else %}
                  <img src="/missing-mugshot.png" alt="No profile picture">
                  {% endif %}
                </figure>
              </summary>

              <!--Achterkant van het kaartje-->
              <div class="card-back">
                <p> {{ person.nickname }}</p>
                <p>
                  {% assign birthyear = person.birthdate | date: "%Y" | plus: 0 %}
                  {% assign currentyear = "now" | date: "%Y" | plus: 0 %}
                  {% assign age = currentyear | minus: birthyear %}
                  {{ age }} jaar
                </p>
                <p>{{  person.bio }}</p>
                <iframe><!--https://developer.spotify.com/documentation/embeds/tutorials/using-the-iframe-api--></iframe>
              </div>
            </details>
            
          </li>
      {% endfor %}
    </ul>
</main>



{% render 'partials/foot.liquid', squads: squads %}