{% render 'partials/head.liquid' %}

<header>
  <nav>
    <ul>
      <li><a href=""><img src="/fdnd-logo.png" alt=""></a></li>
      <li><a href="">Notivicaties</a></li>
    </ul>
  </nav>
</header>

<!--<section class="overview-controls">
  <label for="sortSelect">Sorteer op naam:</label>
  <select id="sortSelect">
    <option value="a-z">A → Z</option>
    <option value="z-a">Z → A</option>
  </select>
</section>-->
<section class="sorteer opties">
  <p>sorteren op:</p>
  <a href="/">naam</a>
  <a href="/nickname">nickname</a>

  <p>je hebt nu gesorteerd op: <strong> {{ sortInfo}} </strong></p>
</section>

<section class="filter opties">
  <p>filteren op:</p>
  <a href="/squad1I">squad1I</a>

  <p>je hebt nu gesorteerd op: <strong> {{ sortInfo}} </strong></p>
</section>

<section class="overview">
  <ul>
    {% for person in persons %}
      <li class="card" data-color="{{ person.fav_color }}">
        <details>
          
          <!--Voorkant van het kaartje-->
          <summary>
            <figure class="card-visual">
              <img src="{% if person.avatar %}{{ person.avatar }}{% else %}/missing-avatar.png{% endif %}" alt="">
              <!--<img scr="{% if person.mugshot %}{{ person.mugshot }}{% else %}/missing-avatar.png{% endif %}" alt="">-->
              <span class="emoji-container">{{  person.fav_emoji }}</span>
            </figure>
            <div class="card-text">
              <a href="/student/{{ person.id }}">{{ person.name }}</a>
              <p>{{  person.role }}</p>
            </div>
          </summary>

          <!--Achterkant van het kaartje-->
          <div class="card-back">
            <p>naam: {{  person.name }}</p>
            <p>
              {% assign birthyear = person.birthdate | date: "%Y" | plus: 0 %}
              {% assign currentyear = "now" | date: "%Y" | plus: 0 %}
              {% assign age = currentyear | minus: birthyear %}
              {{ age }} jaar
            </p>
            <p>{{  person.bio }}</p>
          </div>
        </details>
        
      </li>
    {% endfor %}
  </ul>
</section>


{% render 'partials/foot.liquid', squads: squads %}